/* ===== About CSS ===== */

.about {
  background: #f3f4fe;
  padding: 120px 0;

  @media #{$xs} {
    padding: 80px 0;
  }
}

.about-content {
  .section-title {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .main-btn {
    &:hover {
      background: #2748b4;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.about-image-wrapper {
  text-align: center;
}

.about-image {
  display: inline-block;
  position: relative;
  z-index: 1;

  @media #{$md, $xs} {
    margin-top: 80px;
  }

  .image {
    border-radius: 0px 90px 90px 90px;
  }

  .shape {
    position: absolute;
    z-index: -1;

    &.shape-1 {
      left: -40px;
      top: -40px;
    }

    &.shape-2 {
      right: -40px;
      bottom: 0;
    }
  }
}
