/* ===== Hero CSS ===== */
.hero {
  background: var(--primary-color);
  padding-top: 180px;
  padding-bottom: 130px;
  position: relative;

  @media #{$md, $xs} {
    padding-top: 150px;
  }
}

.hero-content {
  max-width: 780px;
  margin: auto;

  @media #{$md, $xs} {
    margin-bottom: 50px;
  }

  .hero-title {
    color: var(--white);
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;

    @media #{$lg} {
      font-size: 45px;
    }

    @media #{$xs} {
      font-size: 26px;
      line-height: 38px;
    }

    @media #{$sm} {
      font-size: 38px;
      line-height: 48px;
    }
  }

  .hero-desc {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--white);
    opacity: 0.8;
    margin-bottom: 30px;
    padding-right: 80px;

    @media #{$lg} {
      padding-right: 70px;
    }

    @media #{$lg, $xs} {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .main-btn {
    background: var(--white);
    color: var(--primary-color);

    &:hover {
      background: var(--heading-color);
      color: var(--white);
    }
  }
}

.hero-image {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 100%;
  z-index: 1;

  @media #{$md, $xs} {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
  }

  .video-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .video-btn {
    width: 100px;
    height: 100px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--primary-color);
      color: var(--white);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
